/* Sidenav menu */
@font-face {
	font-family: 'Champagne';
	src: url('typo/Champagne.ttf');
 }

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #2d2d2d;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    font-family: "Champagne";
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #aaa8a8;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(255, 255, 255);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  